.resume
  .base
    .profile
      .photo
        img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/1029511/profile/profile-512.jpg?1')
      .info
        h4.name Sergei Grin
        small.job Full-stack Web Developer
    .about
      h3 About me
      |I am an experienced and well educated Full Stack Web Developer with experience in JavaScript, Node.js, HTML5, CSS3, PHP.
    .contact
      h3 Contact
      .call
        i.fa.fa-phone
        span +375 (29) 999-99-99
      .address
        i.fa.fa-map-marker
        span Boston, MA
      .email
        i.fa.fa-envelope
        span google@gmail.com
      .website
        a(href='https://www.linkedin.com/', target='_blank') 
          i.fa.fa-linkedin
          span LinkedIn
    .follow
      h3 Follow
      .box
        a(href='javascript:void(0);')
          i.fa.fa-facebook
        a(href='https://github.com/Grinzzly/')
          i.fa.fa-github
        a(href='https://codepen.io/Grinzzly/', target="_blank")
          i.fa.fa-codepen
  .func
    .work
      h3
        i.fa.fa-briefcase
        | Work Experience
      ul
        li
          span Full-stack Web Developer
          small Klika-Tech LLC
          small Jul 2017 - Now
        li
          span Design Engineer
          small Regula LTD
          small Jun 2016 - Aug 2017
    .edu
      h3
        i.fa.fa-graduation-cap
        | Education
      ul
        li
          span Faculty of Information Technology and Robotics (M.Eng.)
          small Belarusian National Technical University
          small Sep 2017 - Jun 2018
        li
          span Faculty of Information Technology and Robotics (B.Eng.)
          small Belarusian National Technical University
          small Sep 2012 - Jun 2017
    .skills-prog
      h3
        i.fa.fa-code
        | Programming Skills
      ul
        li(data-percent='72')
          span HTML5 & PUG
          .skills-bar
            .bar
        li(data-percent='70')
          span CSS3 & SASS
          .skills-bar
            .bar
        li(data-percent='95')
          span JavaScript
          .skills-bar
            .bar
        li(data-percent='63')
          span NodeJS
          .skills-bar
            .bar
        li(data-percent='81')
          span ReactJS
          .skills-bar
            .bar            
        li(data-percent='72')
          span VueJS
          .skills-bar
            .bar
        li(data-percent='52')
          span AngularJS
          .skills-bar
            .bar        
        li(data-percent='60')
          span PHP
          .skills-bar
            .bar
        li(data-percent='40')
          span Symfony 3
          .skills-bar
            .bar    
    .skills-soft
      h3
        i.fa.fa-th-list
        | Software & Services Skills
      ul
        li(data-percent='94')
          svg(viewbox='0 0 100 100')
            circle(cx='50' cy='50' r='45')
            circle.cbar(cx='50' cy='50' r='45')
          span Photoshop
          small
        li(data-percent='89')
          svg(viewbox='0 0 100 100')
            circle(cx='50' cy='50' r='45')
            circle.cbar(cx='50' cy='50' r='45')
          span Web-Storm
          small
        li(data-percent='83')
          svg(viewbox='0 0 100 100')
            circle(cx='50' cy='50' r='45')
            circle.cbar(cx='50' cy='50' r='45')
          span AWS
          small
        li(data-percent='75')
          svg(viewbox='0 0 100 100')
            circle(cx='50' cy='50' r='45')
            circle.cbar(cx='50' cy='50' r='45')
          span Docker
          small
    .interests
      h3
        i.fa.fa-star
        | Interests
      .interests-items
        .draw
          i.fa.fa-camera
          span Photo
        .guitar
          i.fa.fa-paint-brush
          span Draw
        .movie
          i.fa.fa-film
          span Movies
        .music
          i.fa.fa-headphones
          span Music
        .game
          i.fa.fa-gamepad
          span Games